<h1 id="bookmarks-title"><%= @list.name %></h1>

<% if @list.photo.attached? %>
<%= cl_image_tag @list.photo.key, height: 500, width: 400, crop: :fill, class: "show-image" %>
<% else %>
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/nft1-13-1571824576.jpg?crop=1xw:1xh;center,top&resize=480:*" alt="some picture">
<% end %>

<div class="bookmarks-container">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip col-md-4 col-sm-4">
        <%= image_tag bookmark.movie.poster_url, alt: "movie-picture", width: 100 %>
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
        </div>
        <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, class: "btn btn-danger card-button" %>
      </div>
    <% end %>
  </div>
</div>

<div class="button-container">
  <%= link_to 'Lists', lists_path, class: "btn btn-primary list-button" %>
  <%= link_to 'Add a new bookmark', new_list_bookmark_path(params[:id]), class: "btn btn-success new-bookmark-button" %>
</div>
